@import "tailwindcss";

/* Customize scrollbar appearance */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #333; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Background color of the scrollbar track */
}
